<nav>
    <a class ="bar" href="/">Home</a>
    <a  class ="bar" href="/cSearch">Character Search</a>
    <a  class ="bar" href="/gSearch">Game Search</a>
    <a  class ="bar" href="/compSearch">Company Search</a>
    <a  class ="bar" href="/fSearch">Franchise Search</a>
    
</nav>