<nav>
    <a class ="bar" href="/">Home</a>
		 <div class="dropdown">
	  <button class="dropbtn">Person</button>
	  <div class="dropdown-content">
	    <a href="/cSearch">Person Search</a>
	    <a href="/newPerson">Add A Person</a>
	    <a href="/cDisplay">People List</a>
	  </div>
	</div>

	<div class="dropdown">
	  <button class="dropbtn">Game</button>
	  <div class="dropdown-content">
	    <a href="/gSearch">Game Search</a>
	    <a href="/newGame">Add A Game</a>
	    <a href="/gDisplay">Game List</a>
	  </div>
	</div>

	<div class="dropdown">
	  <button class="dropbtn">Company</button>
	  <div class="dropdown-content">
	    <a href="/compSearch">Company Search</a>
	    <a href="/newCompany">Add A Company</a>
	    <a href="/compDisplay">Company List</a>
	  </div>
	</div>
	<div class="dropdown">
	  <button class="dropbtn">Franchise</button>
	  <div class="dropdown-content">
	    <a href="/fSearch">Franchise Search</a>
	    <a href="/newFranchise">Add A Franchise</a>
	    <a href="/fDisplay">Franchise List</a>
	  </div>
	</div>    
</nav>