<!DOCTYPE html>
<html>
  <head>
    <%- include ("partials/header.ejs")%>
  </head>
  <body>

    <header class="p-5 bg-danger text-center">
      
      <h1 > Game Franchise Search </h1>
      <%- include ("partials/menu.ejs")%>
    <form action = "/fResults" method ="GET">
        Franchise: <input type="text" class="searchBox" name="userKeyword">
      
        <br>
        
        <button type="submit" class="m-3 btn btn-outline-dark">Search</button>
    </form>

    </header>
    
  </body>
</html>