<!DOCTYPE html>
<html>
  <head>
    <%- include ("partials/header.ejs")%>
  </head>
  <body>

    <header class="p-5 bg-danger text-center">
        <h1 > Game Database search </h1>
        <%- include ("partials/menu.ejs")%>
        
    </header>
    <article id="homeText">This website allows users to search for a character in a game, a game, a game franchise or a game company then get information on a selected choice. They will be able to add the information to a database.</article>
        
    
    
    
  </body>
</html>